.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/tmp/v16/.suo
media-api/.vs/media-api/DesignTimeBuild/.dtbcache.v2
media-api/.vs/media-api/v16/.suo
media-api/media-api/bin/Debug/net5.0/appsettings.Development.json
media-api/media-api/bin/Debug/net5.0/appsettings.json
media-api/media-api/bin/Debug/net5.0/media-api.deps.json
media-api/media-api/bin/Debug/net5.0/media-api.dll
media-api/media-api/bin/Debug/net5.0/media-api.exe
media-api/media-api/bin/Debug/net5.0/media-api.pdb
media-api/media-api/bin/Debug/net5.0/media-api.runtimeconfig.dev.json
media-api/media-api/bin/Debug/net5.0/media-api.runtimeconfig.json
media-api/media-api/bin/Debug/net5.0/media-api.Views.dll
media-api/media-api/bin/Debug/net5.0/media-api.Views.pdb
media-api/media-api/bin/Debug/net5.0/ref/media-api.dll
media-api/media-api/obj/media-api.csproj.nuget.dgspec.json
media-api/media-api/obj/media-api.csproj.nuget.g.props
media-api/media-api/obj/media-api.csproj.nuget.g.targets
media-api/media-api/obj/project.assets.json
media-api/media-api/obj/project.nuget.cache
media-api/media-api/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
media-api/media-api/obj/Debug/net5.0/apphost.exe
media-api/media-api/obj/Debug/net5.0/media-api.AssemblyInfo.cs
media-api/media-api/obj/Debug/net5.0/media-api.AssemblyInfoInputs.cache
media-api/media-api/obj/Debug/net5.0/media-api.assets.cache
media-api/media-api/obj/Debug/net5.0/media-api.csproj.AssemblyReference.cache
media-api/media-api/obj/Debug/net5.0/media-api.csproj.CopyComplete
media-api/media-api/obj/Debug/net5.0/media-api.csproj.CoreCompileInputs.cache
media-api/media-api/obj/Debug/net5.0/media-api.csproj.FileListAbsolute.txt
media-api/media-api/obj/Debug/net5.0/media-api.dll
media-api/media-api/obj/Debug/net5.0/media-api.GeneratedMSBuildEditorConfig.editorconfig
media-api/media-api/obj/Debug/net5.0/media-api.genruntimeconfig.cache
media-api/media-api/obj/Debug/net5.0/media-api.MvcApplicationPartsAssemblyInfo.cache
media-api/media-api/obj/Debug/net5.0/media-api.pdb
media-api/media-api/obj/Debug/net5.0/media-api.RazorAssemblyInfo.cache
media-api/media-api/obj/Debug/net5.0/media-api.RazorAssemblyInfo.cs
media-api/media-api/obj/Debug/net5.0/media-api.RazorCoreGenerate.cache
media-api/media-api/obj/Debug/net5.0/media-api.RazorTargetAssemblyInfo.cache
media-api/media-api/obj/Debug/net5.0/media-api.RazorTargetAssemblyInfo.cs
media-api/media-api/obj/Debug/net5.0/media-api.TagHelpers.input.cache
media-api/media-api/obj/Debug/net5.0/media-api.TagHelpers.output.cache
media-api/media-api/obj/Debug/net5.0/media-api.Views.dll
media-api/media-api/obj/Debug/net5.0/media-api.Views.pdb
media-api/media-api/obj/Debug/net5.0/Razor/Pages/_ViewImports.cshtml.g.cs
media-api/media-api/obj/Debug/net5.0/Razor/Pages/_ViewStart.cshtml.g.cs
media-api/media-api/obj/Debug/net5.0/Razor/Pages/Error.cshtml.g.cs
media-api/media-api/obj/Debug/net5.0/Razor/Pages/Index.cshtml.g.cs
media-api/media-api/obj/Debug/net5.0/Razor/Pages/Privacy.cshtml.g.cs
media-api/media-api/obj/Debug/net5.0/Razor/Pages/Shared/_Layout.cshtml.g.cs
media-api/media-api/obj/Debug/net5.0/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
media-api/media-api/obj/Debug/net5.0/ref/media-api.dll
media-api/media-api/obj/Debug/net5.0/staticwebassets/media-api.StaticWebAssets.Manifest.cache
media-api/media-api/obj/Debug/net5.0/staticwebassets/media-api.StaticWebAssets.xml
