.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/tmp/v16/.suo
media-api/.vs/media-api/DesignTimeBuild/.dtbcache.v2
media-api/.vs/media-api/v16/.suo
media-api/media-api/bin/
media-api/media-api/obj/
/DB-initializer/.vs/
/DB-initializer/DB-initializer/obj
/DB-initializer/DB-initializer/bin/
.vscode/launch.json
.gitignore
.gitignore
.vscode/tasks.json
media-api/.vscode/launch.json
.gitignore
media-api/.vscode/tasks.json
